body {
  display: flex;
  justify-content: center;
  font-family: monospace;
  background-color: #333;
}

h1 {
  color: #999;
  font-size: 30px;
}

ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #999;
}

a:hover {
  color: #FFA500;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 300px 0;
}

.title {
  width: auto;
  height: 100px;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: auto;
}

.links-list {
  display: flex;
  flex-direction: row;
}

.links-list li {
  margin: 0px 20px;
}

.links-list li a:hover {
  /*margin: 0px 40px;*/
  svg {
    width: 30px;
  }
}
